<%= render "shared/account_header" %>
<h3>Projects</h3>

<div class='pull-right'><%= link_to 'New Project', new_project_path %></div>

<% @projects.each do |project| %>
<div class='span2'>
  <%= link_to project %>
</div>
<% end %>

