<div class="row-fluid">
  <%= render "shared/account_nav" %>
  <div class="span10">
    <section class="section-fieldset">
      <fieldset>
        <legend><%= @user.name %></legend>        
        <%= render 'user_info' %>
      </fieldset>
    </section>
    <section class="section-fieldset">
      <fieldset>
        <legend>Charts</legend>         
        <div class="div-chart" id="chartset-user-hours"></div>
        <div class="div-chart" id="chartset-user-submission"></div>       
      </fieldset>
    </section>
  </div>
</div>