<div class="row">
  <%= render "shared/account_nav" %>
  <div class="span10">
    <section class="section-fieldset">
      <fieldset>
        <legend><%= @user.name %></legend>        
        <%= @user.email %>
      </fieldset>
    </section>
    <section class="section-fieldset">
      <fieldset>
        <legend>History</legend>   
                
      </fieldset>
    </section>
  </div>
</div>