<fieldset>
  <legend>Home</legend>
  <p>This site is still in development. Most functions are locked. However, you can</p><br/>
  <p><%= link_to "Take a tour", account_tour_path, class: "btn btn-primary btn-large" %> (Log in as a guest user)</p>
</fieldset>