<div class="row">
  <%= render "shared/account_nav" %>
  <div class="span10">
    <section class="section-fieldset">
      <fieldset>
        <legend>Cheat Sheet</legend>
        <p>Submit all the records at one time</p><br/>
      </fieldset>      
    </section>
  </div>
</div>
