<table class="table table-striped no-padding">
  <thead>    
    <tr>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% @history_projects.in_groups_of(4, false) do |projects| %>
      <tr>
        <% projects.each do |project| %>      
          <td><%= smart_link_to project %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>  
</table>