<div class="row-fluid">
  <% @in_progress_projects.each do |project| %>
    <div class="span6">      
      <h4><%= smart_link_to project %></h4>
      <div class="progress">       
        <div class="bar" style="width: <%= project.percent %>%;"></div>
      </div>
    </div> 
  <% end %>
</div>