<div class="div-list">
  <div class="row-fluid">
    <div class="span6">
      <p><b>Tasks</b></p>
      <% @tasks.each do |task| %>
        <p><%= task.name %></p>
      <% end %>
    </div>
    <div class="span6">
      <p><b>Leader</b></p>
      <p><%= @leader.name %></p>
      <p><b>Members</b></p>
      <% @members.each do |member| %>
        <p><%= member.name %></p>
      <% end %>
    </div>   
  </div>
</div>