<div class="row-fluid">
  <% @in_progress_projects.each do |project| %>
    <div class="span6">      
      <%= smart_link_to project %>
      <div class="progress">       
        <div class="bar" style="width: <%= project.percent %>%;"></div>
      </div>
    </div> 
  <% end %>
</div>