<div class="row-fluid">
  <%= render "shared/account_nav" %>
  <div class="span10">
    <section class="section-fieldset">
      <fieldset>
        <legend>In progress</legend>        
        <%= render "progress" %>
      </fieldset>
    </section>
    <section class="section-fieldset">
      <fieldset>
        <legend>History</legend>   
        <%= render "history" %>        
      </fieldset>
    </section>
  </div>
</div>