<%= render "shared/account_header" %>

<p class='pull-right'><%= link_to raw("<i class='icon-plus-sign'></i> New project"), new_project_path %></p>
<h3><%= @project.name.upcase %></h3>
<p><%= @project.description %></p>
<div id="chartset_tasks_hours" style="width: 900px; height: 500px;"></div>


